{% extends 'base.html' %}
{% block title %}Question {{tar_q.id}}{% endblock %}
{% block content %}
    {% include 'polls/base.html' %}
    <ul>
        {% for q in q_list %}
            {% ifequal q.id tar_q.id %}
                <h3><li>{{q.question_text}}</li></h3>
            {% else %}
                <li>{{q.question_text}}</li>
            {% endifequal %}
        {% endfor %}
    </ul><br/>
    {% if error_msg %}<h3>{{error_msg}}</h3>{% endif %}
    <form action="{% url 'polls:vote' question_id=tar_q.id %}", method='POST'>
        {% csrf_token %}
        {% for c in tar_q.choice_set.all %}
            <input type='radio' name='choice' id='{{forloop.counter}}' value='{{c.id}}' />
            <label for='{{forloop.counter}}'>{{c.choice_text}}</label>
            <br />
        {% endfor %}
        <input type='submit' value='go' />
    </form>
{% endblock content %}