{% extends 'home.html' %}
{% block title %}Blog app{% endblock %}
{% block content %}
    {% include 'blog/blogbase.html' %}
    <h2>Blog List</h2>
    {% for p in posts %}
        <h3><a href="{% url 'blog:post_detail' slug=p.slug %}">{{p.title}}</a></h3>
        {{p.modify_dt}}<br/>
        {{p.description}}<br/>
    {% endfor %}
    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">PreviousPage</a>
            {% endif %}

            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">NextPage</a>
            {% endif %}
        </span>
    </div>
    <h2><a href="{% url 'blog:post_archive' %}">Go to archive</a></h2>
{% endblock %}