{% extends 'base.html' %}
{% block title %}Year archive{{year|date:'Y'}}{% endblock %}
{% block content %}
    <h1>Post archives for {{year|date:'Y'}}</h1>
    <ul>
        {% if not date_list %}
            <li>ssibal</li>
        {% else %}
            {% for date in date_list %}
                <li style="display: inline;">
                    <a href="{% url 'blog:post_month_archive' year=year|date:'Y' month=date|date:'b' %}">
                        {{date|date:'F'}}
                    </a>
                    {{date|date:'Y-m'}}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <br>
    <div>
        <ul>
            {% for p in p_list %}
                <li>{{p.modify_dt|date:"Y-m-d"}}  
                <a href="{{p.get_absolute_url}}"><strong>{{p.title}}</strong></a></li>
            {% endfor %}
        </ul>
    </div>
    {% for d in date_list %}
        {{d|date:'Y-m-d-H-i-s'}}<br>
    {% endfor %}
    {% for p in p_list %}
        {{p.modify_dt|date:'Y-m-d-H-i-s'}}<br>
    {% endfor %}
{% endblock %}